
/*incluir fuente localmente desde nuestra pc*/
@font-face {
    font-family: Italianno;
    src: url(../assets/Italianno-Regular.ttf);
}

/* * = selector universal para reseteo de estilos por default del html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}


.second-color {
    color: #008C45;
}

.btn {
    color: #000;
    background-color: #008C45;
    padding: 10px;
    width: 150px;
    border-radius: 3px;
    font-family: Italianno;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}

.third-color {
    color: #CD212A;
}

.btn {
    color: #000;
    background-color: #CD212A;
    padding: 10px;
    width: 150px;
    border-radius: 3px;
    font-family: Italianno;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}

/* HEADER */
header {
    background-color: #191919;
    font-family: Italianno;
    height: 70px;
    font-size: 32px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.herobg {
    background-image: url(../assets/nosotros.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: Italianno;
    font-size: 40px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 10px;
}

nav a {
    color: #fff;
}

nav ul {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 10px;
}



/* MAIN */
.hero {
    background-image: url(../assets/pizza-in-oven.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

}

.hero__contenedor {
    padding: 200px 50px;
    color: #fff;
    width: 60%;
    gap: 10px;
}

.hero__contenedor p {
    font-family: 'Italianno', sans-serif;
    font-size: 40px;
    padding-right: 150px;
    margin: 15px 0;
}

.hero__titulo {
    font-family: Italianno;
    font-size: 80px;
    color: #fff;

}



/* nosotros  */

.nosotros {
    background: #191919;
    display: flex;
    padding: 30px;
    gap: 10px;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.nosotros__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;

}

.nosotros__info h2 {
    font-family: Italianno;
    font-size: 50px;
    padding: 20px 0;
}

.nosotros__info p {
    font-family: 'Italianno', sans-serif;
    font-size: 28px;
}

.nosotros img {
    width: 40%;
    height: 80%;
    object-fit: cover;
}

/* FONDO FIJO  */
.fondo-fijo {
    background-image: url(../assets/pizza-in-oven.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
}


/* PAGINA PRODUCTOS*/

.tarjetas {
    background-color: #191919;
    width: 100%;
    padding: 40px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}


.tarjeta {
    background-color: #eee;
    width: 30%;
}

.tarjeta img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.tarjeta__contenedora {
    padding: 10px;
    font-family: Italianno;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarjeta__contenedora a {
    color: #59CEE6;
    background-color: #191919;
    width: 100px;
    align-self: flex-end;
    padding: 10px;
    text-align: center;
}

.tarjeta__contenedora p {
    padding: 10px 0;
    border-top: 1px solid #191919;
    border-bottom: 1px solid #191919;
    align-self: flex-end;
    width: 100%;
}




.tarjetas__divisor {
    background-image: url(../assets/nosotros.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 150px;
    color: #fff;
    font-family: Italianno;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTACTO */
.main {
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formulario {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.formulario img {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.form {
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    margin: 20px;
}

.form__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Italianno;
}

.form__content input {
    padding: 10px;
    font-family: Italianno;
    background: #eee;
    border-radius: 5px;
}

.form__content textarea {
    resize: none;

}

.form__content--check {
    display: flex;
    font-family: Italianno;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}


.form__btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn--form {
    background-color: rgb(149, 0, 0);
}


















/* FOOTER */

footer {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

footer section {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: Italianno;
    font-size: 24px;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    list-style: none;
}

footer section form input {
    background-color: #191919;
    color: #fff;
    padding: 10px;
    outline: none;
    font-family: Italianno;
}

footer section form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer section form button.btn {
    width: 100%;
    font-size: 24;
    padding: 5px;
}